.loginButton {
	height: 50px;
	color: #fff;
	background-color: #98AAF6;
	transition: .3s;
	padding: 0 40px;
	cursor: pointer;
	border: 0;
}

.loginButton:hover {
	background-color: #F3F3FF;
	color: #000;
}
