@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

body, .height100 {
  background-color: #adadad;
  height: 100vh;
}

.index {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main {
  display: flex;
  flex-grow: 1;
  height: 100px;
}

.content {
  flex-grow: 1;
  background-color: #acacac;
}

.link {
  font-size: 16px;
  padding: 7px;
  text-decoration: none;
  color: #acacac;
  transition: .2s;
}

.link:hover {
  text-decoration: none;
  color: #e4e4e4;
}

.center {
  margin: 40px auto;
}

.center > button {
  display: block;
  margin: 5px auto;
  padding: 10px 20px;
}

.my_button {
  padding: 10px 20px;
  margin: 0 40px;
}

.pageTitle {
  padding: 15px;
  font-family: 'Inconsolata', monospace;
}

.line {
  border-bottom: 2px solid rgb(80, 80, 80);
}

.login {
  color: white;
  font-size: 12px;
  margin: 0;
  padding-right: 5px;
}

table {
  margin: 10px 0;
}

.borderDisable {
  border-right: none;
}

.footer {
  background-color: #212529;
  color: white;
  text-align: center;
  height: 25px;
}

.grow {
  flex-grow: 1;
  overflow-y: scroll;
}

.alert_my {
  position: fixed;
  bottom: 20px;
  transform: translateY(calc(100% + 40px));
  left: 10%;
  right: 10%;
  transition: .4s;
}

.alert_my.show {
  transform: translateY(0);
}

.filterInput {
  width: auto !important;
  flex-grow: 0 !important;
}

.disable {
  display: none;
}